body {
    font-family: monospace;
    font-size: clamp(12px, 3vw, 24px);
    white-space: pre;
    padding: 0;
    margin: 0;
}
header {
    background-color: black;
    color: green;
    font-weight: bold;
}
